<h1>Образовательный центр IT Attractor</h1>
<h3>ESDP команда №4</h3>
<hr>
<% if student? %>
    <h3>Мои курсы:</h3>
    <% current_user.student_courses.each do |course| %>
        <h3><%= link_to course.name, course_path(course) %></h3>
    <% end %>

<% elsif teacher? %>
    <h3>Мои курсы:</h3>
    <% current_user.teacher_courses.each do |course| %>
        <h3><%= link_to course.name, course_path(course) %></h3>
    <% end %>
<% elsif techsupport? %>
    <h3>Мои курсы:</h3>
    <% current_user.techsupport_courses.each do |course| %>
        <h3><%= link_to course.name, course_path(course) %></h3>
    <% end %>
<% elsif admin? or manager? %>
    <h3>Курсы</h3>


        <h4><%= link_to 'Добавить', new_course_path, class: 'btn btn-primary' %></h4>

    <table class="table table-striped">
      <tr>
        <th>Название:</th>
        <% if admin? or manager? %>
            <th>Действия</th>
        <% end %>
      </tr>

      <% Course.find_each do |course| %>
          <tr>
            <td><%= link_to course.name, course_path(course) %></td>
            <% if admin? or manager? %>
                <td>
                  <%= link_to 'Редактировать', edit_course_path(course), class: 'btn btn-info' %>
                  <%= link_to 'Удалить', course_path(course), method: :delete, data: {confirm: 'Вы действительно хотите удалить?'}, class: 'btn btn-danger' %>
                </td>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>