<!--<ol class="breadcrumb">-->
  <!--<li><a href="/groups/">Группы</a></li>-->
  <!--<li> <%= link_to 'Просмотр группы', course_group_path(@course, @group) %></li>-->
  <!--<li class="active">Новые студенты</li>-->
<!--</ol>-->

<h3>Добавление студентов к группе <b>"<%= @group.name %>"</b></h3>

<%= form_tag new_course_group_group_membership_path, :method => 'get', id: 'users_search' do %>

    <div class="row" id="search-field">
      <div class="col-md-4">
        <%= text_field_tag :search, params[:search], class:'form-control' %>
      </div>
      <div class="col-md-offset-4">
        <%= submit_tag "Поиск", :name => nil, class:'btn btn-default' %>
      </div>
    </div>

<% end %>

<div id="users">
  <%= render 'from' %>
</div>





