<div class="row">
  <div class="col-sm-3">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Фильтрация данных
        <span class="caret"></span></button>
      <ul class="dropdown-menu"><% number = 0 %>
        <%= form_tag periods_path, method: 'get', id: 'filter_calendar' do %>
            <li>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <% Course.all.each do |course| %>
                    <% number += 1 %>
                    <% href_name = 'collapse' + "#{number}" %>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                          <%= check_box_tag course, course.id, :checked => true %>
                          <%= link_to course.name, "#{'#' + href_name}", class: 'collapsed', role: 'button', 'data-toggle' => 'collapse', 'data-parent'=>"#accordion", 'aria-expanded'=>"false", 'aria-controls'=>"collapseTwo" %>
                        </h4>
                      </div>

                      <div id="<%= href_name %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <% course.groups.each do |group| %>
                            <div class="panel-body" role="tablist">
                              <label>
                                <%= check_box_tag name='group_ids[]', group.id %>  <%= group.name %>
                              </label>
                            </div>
                        <% end %>
                      </div>

                    </div>
                <% end %>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
    <br>
    <button class="btn btn-default" id="remove_all">Очистить</button>
    <button class="btn btn-default" id="select_all">Показать все</button>

  </div>
  <div class="col-sm-9">
    <div class="checked_groups">

    </div>
  </div>
</div>