<% if current_user.has_any_role? :admin, :manager %>

    <% modal ||= false %>
    <% remote = modal ? true : false %>

    <%= simple_form_for(@period, remote: remote, html: {class: 'form-horizontal'},
                        wrapper: :horizontal_form) do |f| %>

        <%= f.input :title, label: 'Название' %>
        <%= f.input :course_id, label: 'Выбрать курс', collection: Course.all, label_method: :name, include_blank: true %>
        <%= f.input :group_id,
                    label: 'Группа',
                    collection: Course.all,
                    as: :grouped_select,
                    group_method: :groups,
                    label_method: :name,
                    value_method: :id,
                    include_blank: true
        %>
        <%= f.input :course_element_id,
                    label: 'Тема',
                    collection: Course.all,
                    as: :grouped_select,
                    group_method: :course_elements,
                    label_method: :theme,
                    value_method: :id,
                    include_blank: true
        %>

        <%= f.input :study_unit_id,
                    label: 'Учебный блок',
                    collection: StudyUnit.all %>

        <div style="padding-left: 30px;">
          <%= f.input :commence_datetime,
                      label: 'Дата события',
                      minute_step: 30,
                      start_hour: 07,
                      end_hour: 21
          %>
          <%= f.input :deadline,
                      label: 'Срок сдачи ДЗ'
          %>
        </div>
        <%= f.button :submit, 'Создать занятие', class: 'btn3d btn btn-primary' %>
    <% end %>
<% end %>



