<div class="row">
  <div class="col-sm-3">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Фильтрация данных
        <span class="caret"></span></button>
      <ul class="dropdown-menu"><% number = 0 %>
        <%= form_tag periods_path, method: 'get', id: 'filter_calendar' do %>
            <li>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <% Course.all.each do |course| %>
                    <% number += 1 %>
                    <% href_name = 'collapse' + "#{number}" %>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                          <%= check_box_tag course, course.id, :checked => true %>
                          <%= link_to course.name, "#{'#' + href_name}", class: 'collapsed', role: 'button', 'data-toggle' => 'collapse', 'data-parent'=>"#accordion", 'aria-expanded'=>"false", 'aria-controls'=>"collapseTwo" %>
                        </h4>
                      </div>

                      <div id="<%= href_name %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <% course.groups.each do |group| %>
                            <div class="panel-body" role="tablist">
                              <label>
                                <%= check_box_tag name='group_ids[]', group.id %>  <%= group.name %>
                              </label>
                            </div>
                        <% end %>
                      </div>

                    </div>
                <% end %>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="checked_groups">

    </div>
  </div>
</div>



<hr/>




<div id="calendar" data-request-url="<%= periods_path(params) %>"> </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Создать событие в календаре</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>

      </div>

    </div>
  </div>
</div>

<div id="eventContent" title="Event Details">
  <div id="eventInfo"></div>
  <p><strong><a id="eventLink" target="_blank">Read More</a></strong></p>
</div>

