

<%= form_tag periods_path, method: 'get', id: 'filter_calendar' do %>
    <div class="form-group">
        <label for="course">Курс</label>
          <%= collection_select :course,
                                params[:course_id],
                                Course.all,
                                :id,
                                :name,
                                class: 'form-control',
                                selected: params[:course],
                                include_blank: true %>
      <label for="group">Группа</label>
        <%= grouped_collection_select :group,
                                      params[:group_id],
                                      Course.order(:name),
                                      :groups,
                                      :name,
                                      :id,
                                      :name,
                                      class: 'form-control',
                                      selected: params[:group],
                                      include_blank: true %>
    </div>
<% end %>

<hr/>



<div id="calendar" data-request-url="<%= periods_path(params) %>"> </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Создать событие в календаре</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>

      </div>

    </div>
  </div>
</div>

