
<p>Курс: <%= @period.course.name %></p>
<p>Группа: <%= @period.group.name  %></p>
<p>Название: <%= @period.title %></p>
<p>TeMa: <%= @period.course_element.theme %></p>
<p>Тип урока: <%= @period.course_element.element_type %></p>
<p>Дата: <%= @period.commence_datetime %></p>


