


<div class="row">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <b>
          <%= @period.title %>
        </b>

        <%= link_to '', edit_period_path(@period), class: 'glyphicon glyphicon-pencil' %>
        <%= link_to '', period_path(@period), class: 'glyphicon glyphicon-trash',
                    method: :delete,
                    data: {confirm: 'Действительно хотите удалить?'}
        %>
      </h4>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <td>Преподаватели:</td>
          <td>
            <% @period.group.teachers.each do |teacher| %>
                <%= link_to teacher.full_name, user_path(teacher.id) %> <br>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Начало:</td>
          <td><b><%= @period.commence_datetime.strftime("%d/%m/%Y %I:%M %p") %> </b></td>
        </tr>
        <tr>
          <td>Группа:</td>
          <td><%= link_to @period.group.name, group_path(@period.group) %></td>
        </tr>
        <tr>
          <td>Курс:</td>
          <td><%= link_to @period.course.name, course_path(@period.course) %></td>
        </tr>
        <tr>
          <td>Тема элемента курса</td>
          <td><%= link_to @period.course_element.theme,
                          course_course_element_path(@period.course,
                                                     @period.course_element) %>
          </td>
        </tr>
        <tr>
          <td>Раздаточные материалы:</td>
          <td><% @period.course_element.readings.each do |reading| %>
                <%= image_tag reading.icon_link %><%= link_to reading.title, reading.alternate_link, :target => "_blank" %>
            <% end %></td>

          <td></td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-3">
          <%= link_to 'Перейти на календарь', periods_path, class: 'btn btn-info'%>
        </div>
        <div class="col-sm-9">
          <% if @period.commence_datetime < Time.now %>
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Посмотреть посещаемость занятия
                  </a>
                </h4>
              </div>
              <% else %>
              <h5>
                Занятие еще не проведено
              </h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @period.commence_datetime < Time.now %>

  <div class="panel panel-default">

    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <h4>Присутствовали:</h4>
            <div>
              <% @period.attendances.each do |att| %>
                  <% if att.attended %>
                    <%= link_to att.user.full_name, user_path(att.user) %> <br>
                  <% end %>
              <% end %>
            </div>

          </div>
          <div class="col-sm-6">
            <h4>Отсутствовали:</h4>
            <% @period.attendances.each do |att| %>
                <% unless att.attended %>
                    <%= link_to att.user.full_name, user_path(att.user) %> <br>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>