

<% if current_user.has_any_role? :admin, :manager %>
    <%= simple_form_for(@course_element, html: {class: 'form-horizontal'},
                        wrapper: :horizontal_form,
                        wrapper_mappings: {
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                        }) do |f| %>

        <div class="row">
          <div class="col-md-6 col-xs-12">

            <%= f.input :element_type, label: 'Тип элемента',
                        collection: ['Лекция', 'Вебинар', 'Лабараторка', 'Контрольная'],
                        input_html: {style: 'width:200px;'} %>

            <%= f.input :theme, label: 'Тема', placeholder: 'Тема',
                        input_html: {style: 'width:200px;'} %>

            <%= f.input :content, label: 'Контент', placeholder: 'Контент',
                        input_html: {style: 'width:200px;'} %>


            <% if @course_element.new_record? %>
                <%=  f.hidden_field :course_id, value: session[:course_id] %>
            <% else %>
                <%= f.hidden_field :course_id, value: @course_element.course.id %>
            <% end %>


          </div>

        </div>
        <hr>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <%= f.button :submit, 'Сохранить', class: 'btn btn-success' %>
          </div>
        </div>

    <% end %>

<% end %>



