<ol class="breadcrumb">
  <li><a href="/courses/">Курсы</a></li>
  <li><%= link_to 'Все занятия', course_path(@course_element.course_id) %></li>
  <li><%= link_to 'Тема занятия', course_course_element_path(@course_element.course, @course_element)  %></li>
  <li class="active">Новое занятие</li>
</ol>

<h3>
  Добавить раздатки к теме <%= @course_element.theme %>
</h3>


<table class="table table-hover">
  <tr>
    <th>Название</th>
    <th>Автор</th>
    <th>Действия</th>
  </tr>
  <% @results.data.items.each do |file| %>
      <tr>
        <td>
          <%= image_tag file.icon_link %><%= link_to file.title, file.alternate_link, :target => "_blank" %>
        </td>
        <td>
          <% unless file.sharing_user.nil? %>
              <%= file.sharing_user.display_name %>
          <% end %>
        </td>
        <td>
          <% if @course_element.readings.exists?(file_id: "#{file.id}") %>
              Добавлено
          <% else %>

              <%= form_for Reading.new, :url => { :action => 'create_readings' } do |f| %>
                  <%= f.hidden_field :file_id, :value => file.id %>
                  <%= f.hidden_field :title, :value => file.title %>
                  <%= f.hidden_field :icon_link, :value => file.icon_link %>
                  <%= f.hidden_field :alternate_link, :value => file.alternate_link %>
                  <%= f.hidden_field :course_element_id, :value => @course_element.id %>
                  <%= f.submit 'Добавить', class: 'btn btn-info' %>
              <% end %>
          <% end %>
        </td>
      </tr>

  <% end %>
</table>