<ol class="breadcrumb">
  <li><a href="/courses/">Курсы</a></li>
  <li><%= link_to 'Все элементы курса', course_path(@course_element.course_id) %></li>
  <li><%= link_to @course_element.theme, course_course_element_path(@course_element.course, @course_element)  %></li>
  <li class="active">Добавить раздаточный материал</li>
</ol>

<h3>
  Добавить раздаточный материал к теме <%= @course_element.theme %>
</h3>

<hr/>

<% @result.each do |f| %>
    <% if f.mimeType == 'application/vnd.google-apps.folder' %>
        <% if f.parents.any? %>
            <% f.parents.each do |parent_root| %>
                <% if parent_root.is_root %>
                    <%= render 'root_folders', f: f %>
                <% end %>
            <% end %>
        <% else %>
            <%= render 'root_folders', f: f %>
        <% end %>
    <% else %>
        <% if f.parents.any? %>
            <% f.parents.each do |parent| %>
                <% if parent.isRoot %>
                    <%= render 'root_files', f: f %>
                <% end %>
            <% end %>
        <% else %>
            <%= render 'root_files', f: f %>
        <% end %>
    <% end %>
<% end %>