<% if admin? or manager? %>
    <%= simple_form_for ([@course, @group]) do |f| %>

        <% if @group.errors.any? %>
            <div class="errors">
              Total errors: <%= @group.errors.count %>
              <ul>
                <% @group.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div>
          Курс: <%= @course.name %>
          <%= f.hidden_field :course_id, value: @course.id %>
        </div>
        <div>
          <%= f.input :name, label: 'Название группы', class: 'form-control',
                      placeholder: 'Введите название группы', input_html: {style: 'width:300px;'} %>
        </div>

        <hr>
        <div>
          <%= f.button :submit, 'Сохранить группу', class: 'btn btn-success' %>
        </div>
    <% end %>
<% end %>
