
<div class="panel-group" id="accordion">
  <% StudyUnit.find_each do |su| %>
      <% if has_periods?(su)%>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= su.id %>"><%= su.title %> учебный блок</a>
              </h4>
            </div>
            <div id="collapse<%= su.id %>" class="panel-collapse collapse">
              <div class="panel-body">

                <% @periods.where(study_unit: su).each do |period|%>
                    <div class="panel-group" id="accordion2">
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-hw-<%= period.id%>">
                              <%= period.title %>. Дата проведения:<%= period.commence_datetime.strftime("%d.%m.%y")%>,   Дэдлайн: <%=period.deadline.strftime("%d.%m.%y %H:%M") if !period.deadline.nil? %> <%= "---" if period.deadline.nil?%>
                            </a>
                          </h4>
                        </div>
                        <div id="collapse-hw-<%= period.id %>" class="panel-collapse collapse">
                          <div class="panel-body">
                            <h3>Студенты группы <%= period.group.name %></h3>
                            <h4><%= period.title %></h4>
                            <br/>
                            <table class="table table-hover">

                              <tr>
                                <th>ФИО</th>
                                <th>Сдал?</th>
                                <th>Оценка</th>
                                <th>Рецензия</th>
                                <th colspan="2">Действия</th>
                              </tr>
                              <% period.group.students.each do |student| %>
                                  <% hw = Homework.where(period_id: period.id, user_id: student.id) %>
                                  <tr>
                                    <td>
                                      <%= student.full_name %>
                                    </td>
                                    <td>
                                      <% if hw.blank? %>
                                          <span class="glyphicon glyphicon-remove" style="color: red;"></span>
                                      <% else %>
                                          <span class="glyphicon glyphicon-ok" style="color: green;"></span>
                                      <% end %>
                                    </td>
                                    <td>
                                      <% hw.each do |h| %>
                                          <% if h.grade >= 2 %>
                                              <%= h.grade %>
                                          <% else %>
                                              <span>Не проверено</span>
                                          <% end %>
                                      <% end %>
                                    </td>
                                    <td>
                                      <% hw.each do |h| %>
                                          <% if h.grade >= 2 %>
                                              <%= h.review %>
                                          <% else %>
                                              <span>Не проверено</span>
                                          <% end %>
                                      <% end %>
                                    </td>
                                    <td>
                                      <% hw.each do |h| %>
                                          <%= link_to h.hw_archive.url, title: 'Загрузить ДЗ' do %>
                                              <span class="glyphicon glyphicon-download" style="padding-top: 3px; color: #0F9D58;"></span>
                                          <% end %>
                                      <% end %>
                                    </td>
                                    <td>
                                      <% hw.each do |h| %>
                                          <%= link_to edit_homework_path(h.id, hw_back_path:'group_hw'), title: 'Оценить домашнее задание' do %>
                                              <span class="glyphicon glyphicon-pencil" style="padding-top: 3px;"></span>
                                          <% end %>
                                      <% end %>
                                    </td>
                                  </tr>
                              <% end %>
                            </table>

                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>

              </div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>