<div class="col-md-6">
  <%= simple_form_for(@user, html: { class: 'form-horizontal' },
                      wrapper: :horizontal_form,
                      wrapper_mappings: {
                              check_boxes: :horizontal_radio_and_checkboxes,
                              radio_buttons: :horizontal_radio_and_checkboxes,
                              file: :horizontal_file_input,
                              boolean: :horizontal_boolean
                      }) do |f| %>
      <%= f.input :email, label:'Эл.почта', placeholder: 'user@domain.com' %>
      <%= f.input :name, label:'Имя',placeholder: 'First name' %>
      <%= f.input :surname,label:'Фамилия', placeholder: 'Last name' %>
      <%= f.input :middlename,label:'Отчество', placeholder: 'Middle name' %>
      <%= f.input :gender, label:'Пол',as: :radio_buttons,
                  collection: ['Мужской', 'Женский'] %>
      <div class="col-sm-3" style="text-align: right">
        <label for="birthdate" >* Дата рождения</label>
      </div>
      <div class="col-sm-9">
        <%= f.input :birthdate, label:false,start_year:1950, end_year: Date.today.year - 10, order:[:day, :month, :year] %>

      </div>
      <%= f.input :phone1,label:'Тел.1', placeholder: 'Phone 1' %>
      <%= f.input :phone2,label:'Тел.2', placeholder: 'Phone 2' %>
      <%= f.input :passportdetails, label:'Паспорт',placeholder: 'Passport details' %>
      <%= f.input :image, label:'Фото' %>
      <%= f.association :roles, label:'Роли',as: :check_boxes %>

      <div class="col-sm-9 col-sm-offset-3">
        <%= f.button :submit %>
      </div>

  <% end %>
</div>