<h1> Все пользователи </h1>



<div class="digg_pagination" style="margin:auto">
  <%= will_paginate @users %>
</div>

<%= link_to 'Отображение фотографий',
            "javascript:hideshow(document.getElementsByClassName('photo'))",
            class: 'btn btn-primary' %>

<table class="table table-condensed">
  <tr>
    <th class="photo">Фото</th>
    <th>Пользователь</th>
    <th>Роли</th>
    <th>Действия</th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td class="photo">
            <%= image_tag user.image.url(:thumb), class: 'img-circle img-responsive' %>
        </td>
        <td><%= user.name %> <%= user.surname %> <%= user.middlename %></td>
        <td>
          <% user.roles.each do |role| %>
            <p><%= role.name %></p>
          <% end %>
        </td>

        <td><%= link_to 'Просмотреть', user_path(user), class: 'btn btn-danger' %>
          <%= link_to 'Редактировать', edit_user_path(user), class: 'btn btn-danger' %>
        </td>
      </tr>
  <% end %>
</table>

