<h3>Список студентов</h3>

<div class="digg_pagination" style="margin:auto">
  <%= will_paginate @students %>
</div>

<div class="row">
  <%= link_to 'Добавить студента', new_user_path(role: :student), class:'btn btn-primary' %>
</div>

<br />
<table class="table table-condensed">
  <tr>
    <th>Студент</th>
    <th>Действия</th>
  </tr>

  <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.full_name, user_path(student) %></td>

        <td><%= link_to 'Просмотреть', user_path(student), class: 'btn btn-info' %>
          <%= link_to 'Редактировать', edit_user_path(student), class: 'btn btn-warning' %>
        </td>
      </tr>
  <% end %>
</table>

