<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">

    <li>
      <%= link_to courses_path do %>
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          <span>&nbsp;Курсы</span>
      <% end %>
    </li>

    <li>
      <%= link_to groups_path do %>
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
          <span>&nbsp;Группы</span>
      <% end %>
    </li>

    <li>
      <div role=tablist>
        <div role=tab id=collapseListGroupHeading1>
          <a role=button data-toggle=collapse href=#collapseListGroup1 aria-expanded=false aria-controls=collapseListGroup1>
            <span class="collapsed glyphicon glyphicon-user"></span>
            <span>&nbsp;Категории по ролям</span>
          </a>
        </div>
        <div id=collapseListGroup1 class="panel-collapse collapse" role=tabpanel aria-labelledby=collapseListGroupHeading1>
          <ul class=list-group>
            <% Role.all.each do |role| %>
                <li>
                  <%= link_to users_role_filter_path(role) do %>
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="padding-left: 15px;"></span>
                      <span>&nbsp;<%= role.name %></span>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </li>

    <li>
      <%= link_to users_path do %>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span>&nbsp;Пользователи</span>
      <% end %>
    </li>

    <li>
      <%= link_to periods_path do %>
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          <span>&nbsp;Календарь</span>
      <% end %>
    </li>
    <li>
      <%= link_to periods_homework_path do %>
          <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
          <span>&nbsp;Просмотреть ДЗ</span>
          <span class="badge" style="text-indent: 0px;"><%= Homework.where(grade: 1).length %></span>
      <% end %>
    </li>
    <li>
      <%= link_to study_units_path do %>
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
          <span>&nbsp;Учебные блоки</span>
      <% end %>
    </li>


  </ul>
</div>

<!-- /#sidebar-wrapper -->
