<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <% if current_page?(root_path) or current_controller?('users') %>
        <li>
          <%= link_to root_path do %>
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
              <span>&nbsp;Курсы</span>
          <% end %>
        </li>
    <% elsif current_controller?('homeworks') and current_action?('new') or current_action?('edit') %>
        <li>
          <%= link_to :back do %>
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
              <span>&nbsp;Назад</span>
          <% end %>
        </li>
    <% else %>
        <li>
          <%= link_to course_path(@course) do %>
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
              <span>&nbsp;Курс</span>
          <% end %>
        </li>
        <!--<li>-->
          <!--<%= link_to new_homework_path do %>-->
              <!--<span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>-->
              <!--<span>&nbsp;Загрузить ДЗ</span>-->
          <!--<% end %>-->
        <!--</li>-->
        <li>
          <%= link_to course_student_homeworks_path(@course) do %>
              <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
              <span>&nbsp;Просмотреть ДЗ</span>
          <% end %>
        </li>
        <li>
          <%= link_to course_classmates_path(@course) do %>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <span>&nbsp;Однокурсники</span>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>

<!-- /#sidebar-wrapper -->
