<h3>Оценка ДЗ</h3>
<br/>
<% if current_user.has_any_role? %>
    <%= simple_form_for @homework do |f| %>
        <%= f.label 'Выставите оценку за домашнее задание' %>
        <br/>
        <%= f.input :grade, label: false, start: 2, end: 100 %><br/>
        <br/>
        <%= f.label 'Краткая рецензия' %>
        <br/>
        <%= f.input :review, label: false %>
        <br/>
        <br/>
        <%= f.submit 'Применить', class: 'btn btn-success' %>
    <% end %>
<% end %>