<%= form_for @course do |f| %>

    <% if @course.errors.any? %>
        <div class="errors">
          Total errors: <%= @course.errors.count %>
          <ul>
            <% @course.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div>
      <%= f.label 'Название' %><br/>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <hr>

    <div>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
<% end %>
