<!--<ol class="breadcrumb">-->
<!--<li><a href="/courses/">Курсы</a></li>-->
<!--<li class="active">Занятия</li>-->
<!--</ol>-->


<h4>Курс: <%= @course.name %></h4>

<% if admin? or manager? or teacher? %>
    <span>У курса есть группы:</span>
    <% @course.groups.each do |group| %>
        <%= link_to group.name, course_group_path(@course, group), class: 'btn btn-default btn-xs' %>
    <% end %>

    <hr>
    <%= link_to 'Добавить занятие', new_course_course_element_path(@course.id), class: 'btn btn-primary' %>
    <%= link_to 'Добавить новую группу', new_course_group_path(@course), class: 'btn btn-default' %>

    <h3>Занятия</h3>

    <table class="table table-striped">
      <tr>
        <th>Тип урока</th>
        <th>Тема</th>
        <% if admin? or manager? or teacher? %>
            <th>Действия</th>
        <% end %>
      </tr>

      <% @course_elements.each do |course_element| %>

          <tr>
            <td><%= course_element.element_type %></td>
            <td><%= link_to course_element.theme, course_course_element_path(@course, course_element) %></td>
            <% if admin? or manager? or teacher? %>
                <td>
                  <%= link_to 'Редактировать', edit_course_course_element_path(@course, course_element), class: 'btn btn-info btn-xs' %>
                  <%= link_to 'Удалить', course_course_element_path(@course, course_element),
                              method: :delete,
                              data: {confirm: 'Are you sure to remove this reading?'},
                              class: 'btn btn-danger btn-xs'
                  %>
                </td>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>

<% if student? %>
    <hr>
    <h2>Collapsible Panel</h2>
    <div class="panel-group" id="accordion">
      <% StudyUnit.find_each do |su| %>
          <% if has_periods?(su) %>
              <div class="panel panel-default panel-small">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#<%= su.id %>"><%= su.title %> учебный блок</a>
                  </h4>
                </div>
                <div id="<%= su.id %>" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table class="table table-hover table-condensed">
                      <thead>
                      <th>Занятие</th>
                      <th>Тема</th>
                      <th>Дата и время</th>
                      <th>Дэдлайн</th>
                      <th>Оценка ДЗ</th>
                      </thead>
                      <tbody>
                      <% @periods.where(study_unit: su).each do |period| %>
                          <tr>
                            <td><%= period.title %></td>
                            <td><%= link_to period.course_element.theme, course_course_element_path(@course, period.course_element) %></td>
                            <td><%= period.commence_datetime.strftime('%H:%M  %d.%m.%y') %></td>
                            <td>
                              <% if period.deadline.nil? %>
                                  <p>Нет задания</p>
                              <% else %>
                                  <%= period.deadline.strftime('%H:%M  %d.%m.%y') %>
                              <% end %>
                            </td>
                            <td>

                              <% if period.deadline.nil? %>
                                  <p>---</p>
                              <% else %>
                                  <% if Homework.where(period: period, user: current_user).first.nil? %>
                                      <% if period.commence_datetime.past? && period.deadline.future? %>
                                          <%= link_to 'Загрузить', new_homework_path(:hw_period_id => period.id) %>
                                      <% else %>
                                          <p>Не успел</p>
                                      <% end %>

                                  <% else %>
                                      <% if Homework.where(period: period, user: current_user).first.grade == 1 %>
                                          <p>Не проверено</p>
                                      <% else %>
                                          <p><%= Homework.where(period: period, user: current_user).first.grade %></p>
                                      <% end %>

                                  <% end %>
                              <% end %>

                            </td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>

<% end %>

