<h3>Курс: <%= @course.name %></h3>

<table >
  <tr>
    <td>
      <%= link_to 'Назад', courses_path, class: 'btn btn-info' %>
      <%= link_to 'Редактировать', edit_course_path(@course), class: 'btn btn-warning' %>
      <%= link_to 'Удалить', course_path(@course), method: :delete,
                  data: {confirm: 'Вы дейстивтельно хотите удалить?'}, class: 'btn btn-danger' %>
    </td>
  </tr>
</table>

<hr>

<p><%= link_to 'Добавить занятие', new_course_course_element_path(@course.id), class: 'btn btn-success' %></p>

<h3>Элементы курса</h3>

<table class="table table-striped">
  <tr>
    <th>Тип урока</th>
    <th>Тема</th>
    <th>Действия</th>
  </tr>

  <% @course_elements.each do |course_element| %>

      <tr>
        <td><%= course_element.element_type %></td>
        <td><%= link_to course_element.theme, course_course_element_path(@course, course_element) %></td>
        <td>
          <%= link_to 'Редактировать', edit_course_course_element_path(@course, course_element), class: 'btn btn-info' %>
          <%= link_to 'Delete', course_course_element_path(@course, course_element),
                      method: :delete,
                      data: {confirm: 'Are you sure to remove this reading?'},
                      class: 'btn btn-danger btn-xs'
          %>
        </td>
      </tr>
  <% end %>
</table>




