<ol class="breadcrumb">
  <li><a href="/courses/">Курсы</a></li>
  <li class="active">Занятия</li>
</ol>


<h4>Курс: <%= @course.name %></h4>

<span>У курса есть группы:</span>
<% @course.groups.each do |group| %>
    <%= link_to group.name, group_path(group), class: 'btn btn-default btn-xs' %>
<% end %>

<hr>
<% if admin? or manager? or teacher? %>
  <%= link_to 'Добавить занятие', new_course_course_element_path(@course.id), class: 'btn btn-primary' %>
<% end %>

<h3>Занятия</h3>

<table class="table table-striped">
  <tr>
    <th>Тип урока</th>
    <th>Тема</th>
    <% if admin? or manager? or teacher? %>
    <th>Действия</th>
    <% end %>
  </tr>

  <% @course_elements.each do |course_element| %>

      <tr>
        <td><%= course_element.element_type %></td>
        <td><%= link_to course_element.theme, course_course_element_path(@course, course_element) %></td>
        <% if admin? or manager? or teacher? %>
        <td>
          <%= link_to 'Редактировать', edit_course_course_element_path(@course, course_element), class: 'btn btn-info btn-xs' %>
          <%= link_to 'Удалить', course_course_element_path(@course, course_element),
                      method: :delete,
                      data: {confirm: 'Are you sure to remove this reading?'},
                      class: 'btn btn-danger btn-xs'
          %>
        </td>
        <% end %>
      </tr>
  <% end %>
</table>






