<h3>Курс: <%= @course.name %></h3>

<p>Дата начала: <%= @course.starts_at %></p>
<p>Дата окончания: <%= @course.ends_at %></p>

<table >
  <tr>
    <td>
      <%= link_to 'Назад', courses_path, class: 'btn btn-info' %>
      <%= link_to 'Редактировать', edit_course_path(@course), class: 'btn btn-warning' %>
      <%= link_to 'Удалить', course_path(@course), method: :delete,
                  data: {confirm: 'Вы дейстивтельно хотите удалить?'}, class: 'btn btn-danger' %>
    </td>
  </tr>
</table>


<hr>

<p><%= link_to 'Добавить элемент курса', new_course_element_path(:course_id => @course.id), class: 'btn btn-success' %></p>

<h3>Элементы курса</h3>

<table class="table table-striped">
  <tr>
    <th>Тип урока</th>
    <th>Тема</th>
    <th>Действия</th>
  </tr>

  <% @course_elements.each do |course_element| %>

  <tr>
    <td><%= link_to course_element.element_type, course_element_path(course_element) %></td>
    <td><%= course_element.theme %></td>
    <td>
      <%= link_to 'Редактировать', edit_course_element_path(course_element), class: 'btn btn-info' %>
    </td>
  </tr>
      <% end %>
</table>




