<% user = User.find(@resource.id) %>

<% if user.sign_in_count == 0 %>

        <p>Здравствуйте, уважаемый <%= user.name %> <%= user.surname %>!</p>

        <p>Вы получили это письмо, поскольку Вас зарегистрировали в IT-Attractor.</p>

        <p><b><%= link_to 'Для завершения регистрации вам необходимо перейти по этой по ссылке и настроить новый пароль для своего кабинета.', edit_password_url(@resource, reset_password_token: @token) %></b></p>

        <p>Если письмо ошибочно пришло к вам, то проигнорируйте. </p>

        <p>с уважением, Администрация IT-Attractor</p>

    <% else %>


        <p>Здравствуйте <%= @resource.name %>!</p>

        <p>Кто-то (скорее всего вы сами) попросил ссылку на изменение пароли. Вы сможете это сделать пройдя по нижеследующей ссылке.</p>

        <p><%= link_to 'Создать новый пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

        <p>Если письмо ошибочно пришло к вам, то проигнорируйте.</p>

        <p>Ваш пароль не будет изменена, пока вы получив выше указанную ссылку и не создали новую</p>

    <p>с уважением, Администрация IT-Attractor</p>

<% end %>