<% user = User.find(@resource.id) %>

<% if user.sign_in_count == 0 %>

        <p>Здравствуйте, уважаемый <%= user.name %> <%= user.surname %>!</p>

        <p>Вы получили это письмо, поскольку Вас зарегистрировали как студента в IT-Attractor.</p>

        <p><b><%= link_to 'Для завершения регистрации вам необходимо перейти по этой по ссылке и настроить новый пароль для своего кабинета.', edit_password_url(@resource, reset_password_token: @token) %></b></p>

        <p>Если письмо ошибочно пришло к вам, то проигнорируйте. </p>

        <p>с уважением, Администрация IT-Attractor</p>
    <% else %>


        <p>Hello <%= @resource.name %>!</p>

        <p>Someone has requested a link to change your password. You can do this through the link below.</p>

        <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

        <p>If you didn't request this, please ignore this email.</p>
        <p>Your password won't change until you access the link above and create a new one.</p>


<% end %>